<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS Exam CRM</title>
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar has-shadow is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="/leads">NodeJS Exam CRM</a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/leads">Leads</a>
          <a class="navbar-item" href="/leads/add">Add Lead</a>
        </div>
      </div>
    </nav>    
  </header>
