@import "bulma";

body {
    background-color: #121212;
    color: #ffffff;
}

.navbar, .footer {
    background-color: #1a1a1a;
}

.button {
    color: #ffffff;
    background-color: #333333;
}

.sidebar {
    margin-top: 5%;
}

.icon {
    color: #ffffff;
}


.navbar-brand {
    margin: 0 auto; 
      display: flex;
      justify-content: center;
      align-items: center;
}

.centered-container {
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }